.tabelaResultado {
    height: 100px;
    min-width: 300px;
    max-width: 800px;
    background-color: rgb(159, 255, 63);
    padding: 20px;
}
.bolas {
    background-color: green;
    width: 40px;
    height: 40px;
    
    
}

.numeros {
    color: white;
}